---
import { SITE } from '~/utils/config';
import { Icon } from 'astro-icon/components'
---

<!-- <span 
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
> -->
<span id="brand" class="invisible items-center gap-3 flex">
  <!-- <Icon name="sa_icon" class="h-7 mix-blend-darken lg:hidden" />
	<Icon name="sa_monogram" class="h-12 lg:hidden" />
	<Icon name="sa_wordmark" class="hidden h-10 lg:block" /> -->
	<Icon name="sa_logomark" class="h-10" />
  <h1 class="sr-only"> {SITE?.name}</h1>
</span>
