---
import type { Login } from '../../types';
import { getPermalink } from '../../utils/permalinks';
import { LoginForm } from './LoginForm';
const {
  action = await Astro.slots.render('action'),
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  inputs,
  textarea,
  disclaimer,
  button,
  description,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props as Login;
---

<div class='flex h-screen purple-dark text-foreground bg-primary-200'>
  <!-- Left Pane -->
  <div class='hidden lg:flex items-center justify-center flex-1 bg-background text-black'>
    <div class='max-w-md text-center'>PURPLE MARTIN</div>
  </div>
  <!-- Right Pane -->
  <div class='w-full lg:w-1/2 flex items-center justify-center bg-primary-800'>
    <div class='max-w-md w-full p-8 bg-opacity-35 border-white/15 border-1 shadow-lg shadow-purple rounded-lg'>
      <div class='sm:mx-auto sm:w-full sm:max-w-sm'>
        <!-- <img
          class='mx-auto h-10 w-auto'
          src='https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600'
          alt='PurpleMartin Logo'
        /> -->
        <h2 class='mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900'>PURPLE MARTIN</h2>
      </div>
      <LoginForm />
    </div>
  </div>
</div>
