---
import type { Signup } from '../../types';
import { SignupForm } from './SignupForm';
import { getPermalink } from '../../utils/permalinks';
const {
  action = await Astro.slots.render('action'),
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  inputs,
  textarea,
  disclaimer,
  button,
  description,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props as Signup;
---

<div class='flex h-screen purple-dark text-foreground bg-background'>
  <!-- Left Pane -->
  <div class='hidden lg:flex items-center justify-center flex-1 bg-gray-dark text-black'>
    <div class='max-w-md text-center'>PURPLE MARTIN</div>
  </div>
  <!-- Right Pane -->
  <div class='w-full bg-gray-light lg:w-1/2 flex items-center justify-center'>
    <div class='max-w-md w-full p-8 bg-white dark:bg-gray-400 shadow-lg shadow-purple rounded-lg'>
      <div class='sm:mx-auto sm:w-full sm:max-w-sm'>
        <!-- <img
          class='mx-auto h-10 w-auto'
          src='https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600'
          alt='PurpleMartin Logo'
        /> -->
        <h2 class='mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900'>PURPLE MARTIN</h2>
      </div>
      <SignupForm client:load/>
    </div>
  </div>
</div>
