---
import type { Signup } from '../../types';
import { getPermalink } from '../../utils/permalinks';
const {
  action = await Astro.slots.render('action'),
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  inputs,
  textarea,
  disclaimer,
  button,
  description,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props as Signup;
---

<div class='flex h-screen'>
  <!-- Left Pane -->
  <div class='hidden lg:flex items-center justify-center flex-1 bg-gray-dark text-black'>
    <div class='max-w-md text-center'>PURPLE MARTIN</div>
  </div>
  <!-- Right Pane -->
  <div class='w-full bg-gray-light lg:w-1/2 flex items-center justify-center'>
    <div class='max-w-md w-full p-8 bg-white dark:bg-gray-400 shadow-lg shadow-purple rounded-lg'>
      <div class='sm:mx-auto sm:w-full sm:max-w-sm'>
        <img
          class='mx-auto h-10 w-auto'
          src='https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600'
          alt='PurpleMartin Logo'
        />
        <h2 class='mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900'>PURPLE MARTIN</h2>
      </div>

      <div class='mt-10 sm:mx-auto sm:w-full sm:max-w-sm'>
        <form
          class='space-y-6'
          x-init
          x-target='/api/signup'
          action='/api/signup'
          method='post'>
          <div>
            <label
              for='name'
              class='block text-sm font-medium leading-6 text-gray-900'
              >Name</label
            >
            <div class='mt-2'>
              <input
                id='name'
                name='name'
                type='text'
                autocomplete='name'
                required
                class='block w-full rounded-md border-0 py-1.5 text-gray-dark shadow-sm ring-1 ring-inset ring-gray-dark placeholder:text-gray focus:ring-2 focus:ring-inset focus:ring-purple sm:text-sm sm:leading-6'
              />
            </div>
          </div>
          <div>
            <label
              for='email'
              class='block text-sm font-medium leading-6 text-gray-900'
              >Email</label
            >
            <div class='mt-2'>
              <input
                id='email'
                name='email'
                type='email'
                autocomplete='email'
                required
                class='block w-full rounded-md border-0 py-1.5 text-gray-dark shadow-sm ring-1 ring-inset ring-gray-dark placeholder:text-gray focus:ring-2 focus:ring-inset focus:ring-purple sm:text-sm sm:leading-6'
              />
            </div>
          </div>

          <div>
            <div class='flex items-center justify-between'>
              <label
                for='password'
                class='block text-sm font-medium leading-6 text-gray-900'
                >Password</label
              >
              <div class='text-sm'>
                <a
                  href='#'
                  class='font-semibold text-indigo-600 hover:text-indigo-500'
                  >Forgot password?</a
                >
              </div>
            </div>
            <div class='mt-2'>
              <input
                id='password'
                name='password'
                type='password'
                autocomplete='current-password'
                required
                class='block w-full rounded-md border-0 py-1.5 text-gray-dark shadow-sm ring-1 ring-inset ring-gray-dark placeholder:text-gray focus:ring-2 focus:ring-inset focus:ring-purple sm:text-sm sm:leading-6'
              />
            </div>
          </div>

          <div>
            <button
              type='submit'
              class='flex w-full justify-center rounded-md bg-purple px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'
              >SIGN UP</button
            >
          </div>
        </form>

        <p class='mt-10 text-center text-sm text-gray-dark'>
          Have an account?
          <a
            href={getPermalink('login', 'auth')}
            class='font-semibold leading-6 text-gray-dark hover:text-purple'
            >Sign in</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
